extra_*
hw02*
hw04*
hw06*
hw07*
hw09*
lab02_deep_learning/fmnist
lab02_deep_learning/lab02_part1_warmup.ipynb
lab02_deep_learning/onegin.txt
lab02_deep_learning/sonnets.txt
lab02_deep_learning/lab02_parts_4_and_5_optional.ipynb
__pycache__
lab01_ml_pipeline/car_data.csv
lab01_ml_pipeline/column_names.json
lab01_ml_pipeline/grad.png
README.md
grad.png